button {
        background-color: rgb(46, 164, 79);
        color: white;
        border: none;
        height: 30px;
        width: 90px;
        border-radius: 5px;
        font-weight: bold;
    }