button {
    font-weight: bold;
}

.apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 32px;
    width: 210px;
    margin-right: 8px;
    border-radius: 105px;
}

.save-button {
    color: rgb(10, 102, 194);
    background-color: white;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    height: 32px;
    width: 70px;
}