button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 30px;
    width: 180px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 150ms;
}

button:hover {
    background-color: rgb(255, 192, 20);
}